# Runtime testing
docker
google-cloud
PyQt5 <= 5.14.0; platform_machine != 'aarch64'
psutil
WMI
# Linting and other tools
autopep8
doc8
flake8
flake8-annotations
mypy
pipdeptree
pylint
restview
rope
rstvalidator
