docker
flake8
flake8-annotations
GitPython
kubernetes
mypy
nitrosdk-python
pylint
psutil
requests
setuptools
twine
wheel
xmlrunner
pywin32; sys_platform == 'win32'
WMI; sys_platform == 'win32'
