docker ~= 4.4
flake8
flake8-annotations
GitPython ~= 3.1
kubernetes ~= 12.0
mypy
nitrosdk-python
pylint
psutil ~= 5.8; platform_machine not in 'arm arm64 armv6l armv7l armv8b armv8l'
requests ~= 2.25
setuptools
sphinx
sphinx_rtd_theme
twine
wheel
xmlrunner
PyQt5 ~= 5.15; platform_machine not in 'aarch64 aarch64_be arm arm64 armv6l armv7l armv8b armv8l'
PyQt5-stubs; platform_machine not in 'aarch64 aarch64_be arm arm64 armv6l armv7l armv8b armv8l'
pywin32 >= 227; sys_platform == 'win32'
pywin32-stubs; sys_platform == 'win32'
WMI ~= 1.5; sys_platform == 'win32'
