docker==5.0.3
flake8==4.0.1
flake8-annotations==2.7.0
GitPython==3.1.24
kubernetes==18.20.0
mypy==0.910
nitrosdk-python==3.1
pylint==2.11.1
psutil==5.8.0
requests==2.26.0
setuptools==58.3.0
Sphinx==4.2.0
sphinx-rtd-theme==1.0.0
twine==3.4.2
types-PyYAML==6.0.0
types-requests==2.25.11
wheel==0.37.0
xmlrunner==1.7.7
PyQt5==5.15.5
PyQt5-stubs==5.15.2.0
## The following requirements were added by pip freeze:
alabaster==0.7.12
astroid==2.8.4
Babel==2.9.1
bleach==4.1.0
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
colorama==0.4.4
cryptography==35.0.0
docutils==0.17.1
gitdb==4.0.9
google-auth==2.3.1
idna==3.3
imagesize==1.2.0
importlib-metadata==4.8.1
isort==5.9.3
jeepney==0.7.1
Jinja2==3.0.2
keyring==23.2.1
lazy-object-proxy==1.6.0
MarkupSafe==2.0.1
mccabe==0.6.1
mypy-extensions==0.4.3
oauthlib==3.1.1
packaging==21.0
pkginfo==1.7.1
platformdirs==2.4.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.20
pyflakes==2.4.0
Pygments==2.10.0
pyparsing==3.0.1
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
readme-renderer==30.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
rsa==4.7.2
SecretStorage==3.3.1
six==1.16.0
smmap==5.0.0
snowballstemmer==2.1.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
toml==0.10.2
tqdm==4.62.3
typing-extensions==3.10.0.2
urllib3==1.26.7
webencodings==0.5.1
websocket-client==1.2.1
wrapt==1.13.2
zipp==3.6.0
