name: BatCave Publish

on:
  workflow_dispatch:
    inputs:
      run-id:
        description: The run to release
        required: true
        type: number
concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: write
  id-token: write

jobs:
  pre_release:
    uses: ./.github/workflows/pypi-publish.yml
    # uses: tardis4500/shared-actions/.github/workflows/pypi-publish.yml@main
    secrets: inherit
    with:
      environment: Staging
      publish-mode: pre_release
      run-id: ${{ inputs.run-id }}

  release:
    needs: pre_release
    uses: ./.github/workflows/pypi-publish.yml
    # uses: tardis4500/shared-actions/.github/workflows/pypi-publish.yml@main
    secrets: inherit
    with:
      environment: Production
      publish-mode: release
      run-id: ${{ inputs.run-id }}
